@model IEnumerable<Department>
@{
    ViewBag.Title = "Index";

}


<div style="height:100vh" class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-start w-75 m-4">
        <table class="table table-bordered table-hover">
            <thead class="bg-danger text-light">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Capacity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model?.Count() == 0)
                {
                    <tr colspan="4"> NO DATA</tr>
                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Capacity</td>
                            <td>

                                <a href="/department/details/@item.Id" class="btn btn-success btn-rounded">
                                    <i class="fa-regular fa-circle-info"></i>
                                    Details
                                </a>

                                <a href="/department/edit/@item.Id" class="btn btn-primary">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    Edit
                                </a>

                                <a href="/department/delete/@item.Id" class="btn btn-danger"
                            onclick="return confirm('Are you sure you want to delete department \n ID: @item.Id, Name: @item.Name')">
                                    <i class="fa-solid fa-trash-can"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <a href="/department/create" class="btn btn-danger start-0">Add Department</a>
    </div>
</div>
